{% extends 'base.html' %}
{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .sectionfordahsboard {
        color: white;
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: rgb(57, 54, 54);
        align-items: center;
        overflow: auto auto;
    }

    h1.headPanel {
        text-align: center;
        background: rgb(49, 44, 55);
        padding: 10px;
        width: 90%;
        color: white;
        font-style: italic;
        border: 2px solid white;
        margin: 30px auto;
        border-radius: 10px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    table {
        background: transparent;
        width: 95%;
    }

    table,
    th,
    td {
        border: 1px solid white;
    }

    th,
    td {
        text-align: center;
        padding: 15px;
        font-size: 1.2rem;
    }

    td a {
        width: 50px;
        font-size: 1.2rem;
        font-weight: 800;
        padding: 5px 10px;
        text-decoration: none;
        border: 2px solid rgb(255, 255, 255);
        color: white;
        background: linear-gradient(to right, rgb(121, 85, 121), rgb(87, 87, 166));
    }
</style>
<section class="sectionfordahsboard">
    <h1 class="headPanel">Waoflix Admin Panel</h1>

    <a style="width: 200px;font-size: 1.4rem;color: white;cursor: pointer;background: linear-gradient(to right, rgb(121, 85, 121), rgb(87, 87, 166));outline: none;border: none;border-radius: 10px;text-decoration: none;padding: 5px;text-align: center;margin: 20px auto;border: 1px solid white;font-style: italic;"
        href="/waoflix/upload_movie">Add Movie</a>

    <table>
        <tbody>
            <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{movie.movie_id}}</td>
                <td>{{movie.movie_title}}</td>
                <td><a href="/waoflix/update_movie?id={{movie.movie_id}}">Update</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock body %}