-- Host: localhost    Database: waoflix
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$390000$yenLj399oADVAzq8qtDdwE$fOpthXWhp7C+3bLX17GtWZAgez2I4dKZct7/A7B1OmY=','2022-12-10 16:36:46.901575',1,'root','','','abhisheksagar513@gmail.coom',1,1,'2022-12-10 16:34:25.657843');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(6,'sessions','session'),(7,'waoflixApp','waoflixcomments'),(8,'waoflixApp','waoflixcontect'),(9,'waoflixApp','waoflixlogin'),(10,'waoflixApp','waoflixmovies'),(11,'waoflixApp','waoflixusers');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wao_flix_comments`
--

DROP TABLE IF EXISTS `wao_flix_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wao_flix_comments` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `fname` varchar(25) NOT NULL,
  `comMail` varchar(100) NOT NULL,
  `comReason` varchar(500) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wao_flix_comments`
--

LOCK TABLES `wao_flix_comments` WRITE;
/*!40000 ALTER TABLE `wao_flix_comments` DISABLE KEYS */;
INSERT INTO `wao_flix_comments` VALUES (1,'Vijay Chauhan','vijay2003@gmail.com','This is the best season ever. ','2022-03-08 06:26:10'),(2,'Rahul singh','rahulsingh53@gmail.com','I want 2nd part of this movie','2022-03-08 06:26:10'),(3,'Akhlak','akhlak000099@gmail.com','I love you','2022-03-08 06:26:10'),(4,'Rachna ','rachanas6833@gmail.com','Nic movie ','2022-04-15 06:43:36'),(5,'Golu dada','golukkgg3@gmail.com','Bandit queen movie upload karde bhai','2022-04-22 08:29:08'),(6,'Techno gamerz','hello@3','Hello','2022-05-19 07:37:52');
/*!40000 ALTER TABLE `wao_flix_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflix_contect`
--

DROP TABLE IF EXISTS `waoflix_contect`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflix_contect` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `fname` varchar(25) NOT NULL,
  `lname` varchar(25) NOT NULL,
  `conMail` varchar(50) NOT NULL,
  `phoneNumber` varchar(13) NOT NULL,
  `conReason` varchar(200) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=327 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflix_contect`
--

LOCK TABLES `waoflix_contect` WRITE;
/*!40000 ALTER TABLE `waoflix_contect` DISABLE KEYS */;
/*!40000 ALTER TABLE `waoflix_contect` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflix_login`
--

DROP TABLE IF EXISTS `waoflix_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflix_login` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `userName` varchar(25) NOT NULL,
  `passWord` varchar(50) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflix_login`
--

LOCK TABLES `waoflix_login` WRITE;
/*!40000 ALTER TABLE `waoflix_login` DISABLE KEYS */;
INSERT INTO `waoflix_login` VALUES (1,'tH3uNKn0WnW40Fl1x','\\+<%vQDWM4Fc\'9^S','2022-03-08 06:18:03');
/*!40000 ALTER TABLE `waoflix_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflix_movies`
--

DROP TABLE IF EXISTS `waoflix_movies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflix_movies` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `slug` varchar(150) NOT NULL,
  `poster_url` varchar(300) NOT NULL,
  `movie_title` varchar(300) NOT NULL,
  `movieRating` varchar(5) NOT NULL,
  `movieQuality` varchar(10) NOT NULL,
  `movieFileSize` varchar(10) NOT NULL,
  `movieLanguage` varchar(10) NOT NULL,
  `movieReleaseDate` varchar(20) NOT NULL,
  `movieStory` varchar(1000) NOT NULL,
  `movieDownloadURL` varchar(400) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=696 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflix_movies`
--

LOCK TABLES `waoflix_movies` WRITE;
/*!40000 ALTER TABLE `waoflix_movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `waoflix_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflix_users`
--

DROP TABLE IF EXISTS `waoflix_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflix_users` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `userName` varchar(25) NOT NULL,
  `passWord` text NOT NULL,
  `userEmail` varchar(75) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflix_users`
--

LOCK TABLES `waoflix_users` WRITE;
/*!40000 ALTER TABLE `waoflix_users` DISABLE KEYS */;
INSERT INTO `waoflix_users` VALUES (1,'rohit_99','$2b$12$C5JT2355E0mFn.cZ6WrtrO.CmrwmQNTi3Phw57oSj/NGLUO5R6OaW','rohit_99@gamil.com','2022-06-10 19:29:39');
/*!40000 ALTER TABLE `waoflix_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflixapp_waoflixcomments`
--

DROP TABLE IF EXISTS `waoflixapp_waoflixcomments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflixapp_waoflixcomments` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `fname` varchar(25) NOT NULL,
  `comMail` varchar(100) NOT NULL,
  `comReason` varchar(500) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflixapp_waoflixcomments`
--

LOCK TABLES `waoflixapp_waoflixcomments` WRITE;
/*!40000 ALTER TABLE `waoflixapp_waoflixcomments` DISABLE KEYS */;
/*!40000 ALTER TABLE `waoflixapp_waoflixcomments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflixapp_waoflixcontect`
--

DROP TABLE IF EXISTS `waoflixapp_waoflixcontect`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflixapp_waoflixcontect` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `fname` varchar(25) NOT NULL,
  `lname` varchar(25) NOT NULL,
  `conMail` varchar(50) NOT NULL,
  `phoneNumber` varchar(13) NOT NULL,
  `conReason` varchar(200) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=327 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflixapp_waoflixcontect`
--

LOCK TABLES `waoflixapp_waoflixcontect` WRITE;
/*!40000 ALTER TABLE `waoflixapp_waoflixcontect` DISABLE KEYS */;
/*!40000 ALTER TABLE `waoflixapp_waoflixcontect` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflixapp_waoflixlogin`
--

DROP TABLE IF EXISTS `waoflixapp_waoflixlogin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflixapp_waoflixlogin` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `userName` varchar(25) NOT NULL,
  `passWord` varchar(50) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  `sess_uuid` longtext,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflixapp_waoflixlogin`
--

LOCK TABLES `waoflixapp_waoflixlogin` WRITE;
/*!40000 ALTER TABLE `waoflixapp_waoflixlogin` DISABLE KEYS */;
INSERT INTO `waoflixapp_waoflixlogin` VALUES (9,'tH3uNKn0WnW40Fl1x','\\+<%vQDWM4Fc\'9^S','2022-12-11 05:04:09','b3bc4bf3-19c9-449d-a00c-410dd8195004');
/*!40000 ALTER TABLE `waoflixapp_waoflixlogin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflixapp_waoflixmovies`
--

DROP TABLE IF EXISTS `waoflixapp_waoflixmovies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflixapp_waoflixmovies` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `slug` varchar(150) NOT NULL,
  `poster_url` varchar(300) NOT NULL,
  `movie_title` varchar(300) NOT NULL,
  `movieRating` varchar(5) NOT NULL,
  `movieQuality` varchar(10) NOT NULL,
  `movieFileSize` varchar(10) NOT NULL,
  `movieLanguage` varchar(10) NOT NULL,
  `movieReleaseDate` varchar(20) NOT NULL,
  `movieStory` varchar(1000) NOT NULL,
  `movieDownloadURL` varchar(400) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=697 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflixapp_waoflixmovies`
--

LOCK TABLES `waoflixapp_waoflixmovies` WRITE;
/*!40000 ALTER TABLE `waoflixapp_waoflixmovies` DISABLE KEYS */;
/*!40000 ALTER TABLE `waoflixapp_waoflixmovies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waoflixapp_waoflixusers`
--

DROP TABLE IF EXISTS `waoflixapp_waoflixusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waoflixapp_waoflixusers` (
  `sno` int NOT NULL AUTO_INCREMENT,
  `userName` varchar(25) NOT NULL,
  `passWord` text NOT NULL,
  `userEmail` varchar(75) NOT NULL,
  `date_created` datetime DEFAULT NULL,
  `user_uuid_md5` longtext,
  PRIMARY KEY (`sno`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waoflixapp_waoflixusers`
--

LOCK TABLES `waoflixapp_waoflixusers` WRITE;
/*!40000 ALTER TABLE `waoflixapp_waoflixusers` DISABLE KEYS */;
INSERT INTO `waoflixapp_waoflixusers` VALUES (1,'rohit_99','$2b$12$C5JT2355E0mFn.cZ6WrtrO.CmrwmQNTi3Phw57oSj/NGLUO5R6OaW','rohit_99@gamil.com','2022-06-10 19:29:39','ba48517026bc8f55244f732a1bfacc94'),(2,'sagar','Teena@123','','2022-12-18 05:51:48','fbeb3298abb250fc7a3750d2ff542fdd'),(3,'user123','$2b$12$Rs7ogj7QH5KX9B0Ku8Hm0eRozk4KYBQ4PUBuciG53J0oxwhl3jQnm','abhisheksagar513@gmail.com','2022-12-18 08:06:32','4ad9ab1daddaf4f58b6ea16be603f078');
/*!40000 ALTER TABLE `waoflixapp_waoflixusers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-12-24  9:34:36
