*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(22, 21, 21) !important;
}
html{
    scroll-behavior: smooth;
}

/* Basic CSS */
#navbar{
    border-bottom: 1px solid white;
    width: 100%;
    padding: 3px 6px;
    background:rgba(0,0,0,0.9);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    border-radius: 10px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
}
#logoWithBurgur{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin:5px auto;
    height: 50px;
    overflow: hidden;
    min-width: 200px;
    border-radius: 10px;
}
.logo a{
    width: 100%;
    height: 80%;
}
.logo a img{
    width:100%;
    height: 100%;
}
.logo:hover{
    border: 1px solid white;
}
#burgur{
    width: 50px;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 5px 8px;
    cursor: pointer;
    justify-content: center;
    align-items:center;
    display: none;
}
#burgur span{
    margin: 3px 5px;
    border:2px solid wheat;
    border-radius: 10px;
}
#burgur span:nth-child(1){
    width: 80%;
}
#burgur span:nth-child(3){
    width: 80%;
}
#burgur span:nth-child(2){
    width: 100%;
}
#search{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
}
#search a{
    text-decoration: none;
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    padding: 2px 10px;
}
#search a h3{
    padding-left: 10px;
    border-left: 2px solid rgb(136, 0, 255);
}
#search a img{
    background: white;
    border-radius: 20px;
    width: 40px;
    height: 100%;
    /* background-color: wheat; */
}
#search form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search form input{
    margin: auto;
    min-width:175px ;
    width: 80%;
    font-size: 1.1rem;
    padding: 6px 8px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}
#search form button{
    font-weight: 500;
    outline: none;
    min-width: 100px;
    border-radius: 5px;
    font-size: 1.25rem;
    background: rgba(35, 33, 37, 0.801);
    padding: 6px 8px;
    border: 1px solid rgb(230, 230, 230);
    cursor: pointer;
    color: white;
    margin-left: 3px;
}
#search form button:hover{
    background: rgba(30, 103, 221, 0.671);
}


/* Index  */
.allMovies{
    padding: 20px 0px;
    place-items: center;
    background:rgba(0,0,0,0.9);
    border-bottom: 1px solid white;
    width: 90%;
    display: grid;
    min-height: 75vh;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    margin: 50px auto;
    margin-top: 0;
}
.allMovies .movie{
    position: relative;
    cursor: pointer;
    width: 270px;
    height: 450px;
    border-radius: 10px;
    border:1px solid white;
    text-align: center;
    margin: 20px auto;
}
.movie:hover{
    opacity: 0.8;
}
.movie h3{
    width: 100%;
    background: rgba(23, 97, 107, 0.993);
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    padding: 5px 0;
}

/* Footer Starts here */
footer{
    padding: 5px ;
    border-top: 1px solid white;
    z-index: 999;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
footer span a{
    color: white;
}
footer span a:hover{
    text-decoration: none;
}
footer  a{
    margin: 6px;
}
footer a img{
    border-radius: 20px;
    width: 25px;
}


/* Watch Movie */
.downloadBody{
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    padding: 10px 20px;
    align-items: center;
    margin: 20px auto;
    background: rgb(42, 39, 39);
}
.downloadBody .heading{
    width: 100%;
    text-transform: capitalize;
    background: rgb(26, 59, 92);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.781);
    padding: 8px 20px;
    margin: 20px 0;
}
.downloadBody .image{
    width: 300px;
    height: 400px;
    margin: 15px 0;
}
.downloadBody span{
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    margin: 15px 0;
    color: white;
}
.downloadLinks{
    display: grid;
    width: 85%;
    place-items: center center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
    padding: 20px 10px;
}
.downloadLinks .dLink{
    width: 150px;
    background: rgb(26, 59, 92);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.3rem;
    border-radius: 4px;
}

/* Login Form */
.loginForm{
    height: 93vh;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.loginForm form{
    margin: auto;
    width: 90%;
    display: flex;   
    padding: 10px 20px;
    background: linear-gradient(130deg,rgb(226, 222, 222) 45%,rgba(77, 77, 100, 0.726) 60%);
    border: 2px solid rgb(2, 2, 65);
    flex-direction: column;
}
.loginForm div{
    position: relative;
    margin: 7px 0;
    width: 100%;
}
.loginForm div label{
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 5px 0;
    text-align: center;
}
.loginForm div input{
    padding: 5px 10px;
    outline: none;
    font-size: 1.2rem;
    margin-top: 5px;
    width:100%;
    border-radius: 7px;
    border: 1px solid rgb(74, 74, 78);
}
.loginForm input:focus{
    border: 2px solid blue;
}
.loginForm button{
    margin: 10px 0;
    width: 100px;
    font-size: 1.3rem;
    background: rgb(83, 83, 189);
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
}
.loginForm button:hover{
    background: rgb(94, 94, 139);
}



/* Contact Style Sheet */
.contactForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    min-height: 85vh;
    margin: auto;
}
.contactForm h1{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}
.contactForm div{
    display: flex;
    width: 100%;
    margin: 10px 0;
}
.contactForm div.contactName{
    flex-basis: 49.999%;
}
.contactForm div input{
    font-family:sans-serif;
    width: 100%;
    outline: none;
    margin: 5px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px 15px;
}
.contactForm div input:focus{
    border: 2px solid rgb(0, 147, 245);
}
.contactForm div textarea{
    font-family: sans-serif;
    padding: 7px 15px;
    width: 100%;
    outline: none;
    border: 2px solid rgb(62, 52, 71);
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 5px 10px;
    resize: both; 
    overflow: auto;
}
.contactForm div textarea:focus{
    border: 2px solid rgb(0, 147, 245);
}
.contactForm button{
    margin: 5px 10px;
    cursor: pointer;
    background: rgb(100, 100, 100);
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 10px;
    /* width: 150px; */
    font-size: 1.3rem;
}
/* Not Found Page */
.notFound{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notFound h2{
    text-decoration: underline;
    line-height: 40px;
    padding:10px 20px;
    color: white;
}

/* Uploading Form */
.uploadingForm{
    width: 90%;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    min-height:90vh;
    flex-direction: column;
    padding: 10px 15px;
    background: black;
}
.uploadingForm div{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.uploadingForm div input{
    width: 100%;
    padding: 4px 10px;
    border: 2px solid rgb(52, 52, 56);
    border-radius: 7px;
    font-size: 1.15rem;
    outline: none;
    margin: 0 5px;
}
.uploadingForm div.basic{
    width: 100%;
    flex-basis: 45%;
}
.uploadingForm div textarea{
    margin: 0 5px;
    resize: both;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(52, 52, 56);
    border-radius: 7px;
    font-size: 1.15rem;
    outline: none;
}
.uploadingForm div textarea:focus{
    border: 2px solid rgb(10, 46, 251);
}
.uploadingForm div input:focus{
    border: 2px solid rgb(10, 46, 251);
}
.uploadingForm button{
    margin: 5px ;
    width: 150px;
    background: rgb(9, 37, 63);
    color: white;
    outline: none;
    border: 3px solid rgb(68, 67, 66);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight:700;
    padding: 6px 0;
    cursor: pointer;
}

/* Comment Section */
.commentSection{
    border-top: 2px solid wheat;
    background: black;
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
}
.commentSection div{
    width: 97%;
    margin: 10px auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.commentSection div label{
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 5px 10px;
}
.commentSection div input{
    border-radius: 10px;
    outline: none;
    padding: 4px 10px;
    font-size: 1.2rem;
    border: 2px solid rgb(98, 13, 209);
}
.commentSection div textarea{
    border: 2px solid rgb(98, 13, 209);
    outline: none;
    resize: both;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
.commentSection button{
    margin: 15px 15px;
    width: 150px;
    padding: 5px;
    border: 2px solid rgb(98, 13, 209);
    font-weight: 800;
    font-size: 1.5rem;
    background: rgb(28, 22, 41);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.commentSection .comheading{
    color: white;
    margin-bottom: 10px;
    font-family: sans-serif;
    padding: 5px 10px;
    border-bottom: 2px solid white;
}
.allComments{
    border-bottom: 2px solid wheat;
    width: 90%;
    max-width: 900px;
    padding:10px 15px ;
    background: black;
    margin: 20px auto;
    display: grid;
    margin-top: 0;
    place-items: center center;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 10px;
}
.allComments div{
    overflow: auto;
    padding: 15px;
    border:2px solid rgba(85, 83, 83, 0.291);
    margin: 15px;
    border-radius: 10px;
    width: 270px;
    min-height: 150px;
}
.allComments div img{
    width: 25px;
    background: black;
    border-radius: 50%;
    margin-right: 7px;
}
.allComments div h3{
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}
/* .allComments div span{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 5px;
} */
.allComments div p{
    border-top: 2px solid rgb(85, 81, 81);
    padding-top: 10px;
    color: white;
    font-weight: 500;
    width: 100%;
}
.comHead{
    width: 90%;
    max-width: 900px;
    background: black;
    margin:  20px auto;
    padding: 20px ;
    margin-bottom: 0;
    color: white;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(20, 17, 17);
}
.showMsg{
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}


/* Login For Users */
.formbox{
    min-height: 82vh;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    padding: 40px 0;
}
.formbox form{
    border-radius: 20px;
    background: rgba(255, 255, 255,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 50px 20px;
    width: 100%;
}
.formbox h1{
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    font-size: 1.7rem;
}
.formbox form div.inp{
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.formbox form div.linkBtns{
    width: 100%;
    padding:5px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formbox form div.linkBtns button{
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
    background: linear-gradient(to right,rgba(34, 34, 232, 0.711),rgba(45, 155, 169, 0.815));
    font-size: 1.2rem;
    font-weight: 600;
    padding: 7px 20px;
}
.formbox form div.linkBtns a{
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
}
.formbox form div.linkBtns a:hover{
    border-bottom: 1px solid white;
}
.formbox form .forgetlink{
    margin-bottom: 10px;
    width: 100%;
}
.formbox form .forgetlink a{
    font-size: 1.2rem;
    color: rgba(223, 228, 236, 0.884);
}
.formbox form div input{
    font-size: 1.1rem;
    padding:  10px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.formbox form div span{
    position: absolute;
    color: black;
    font-weight: 600;
    cursor: pointer;
    right: 5%;
    top: 30%;
}

/* users Register Form */
.regformpage{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regformpage form{ 
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 25px;
    width: 100%;
}
.regformpage form h1{
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    width: 95%;
    margin: 40px auto;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.7rem;
}
.regformpage form div{
    width: 100%;
    margin: 10px auto;
}
.regformpage form div input{
    width: 100%;
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 10px;
}


.regformpage .inp{
    position: relative;
}
.regformpage .inp span{
    position: absolute;
    top: 35%;
    right: 5%;
    font-weight: 700;
    cursor: pointer;
}
.regformpage div.linksforeg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.regformpage form div button{
    font-size: 1.3rem;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.601),rgba(0, 255, 255,0.5));
    border: none;
    cursor: pointer;
    padding: 7px 20px;
    font-weight: 700;
    margin: 7px 5px;
}
.regformpage form div a{
    color: white;
    font-size: 1.2rem;
}
.regformpage form div a:hover{
    text-decoration: none;
}

/* Select Tags */
.selectpicker{
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 4px auto ;
    text-transform: uppercase;

}
.selectpicker, .selectpicker option{
    border-radius: 10px;
    color: white;
    background: rgb(23, 36, 71);
}

#avatarForm {
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 30px 20px;
    color: black;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
}
#avatarForm div:nth-child(1){
    width: 60%;
    margin: 20px auto;
}
#avatarForm div:nth-child(2){
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#avatarForm div div{
    display: flex;
    width: 100%;
    margin: 10px auto;
}
#avatarForm div a{
    border-radius: 20px;
    padding: 10px 20px ;
    margin: 10px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(218, 111, 111);
    color: white;
    text-decoration: none;
}
#avatarForm div .img{
    width: 290px;
    border-radius: 50%;
}

.mail{
    display: flex;
    position: relative;
    width: 800px;
    max-width: 95%;
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
}
.mail input{
    width: 100%;
    padding: 7px 15px;
    background: rgba(122, 185, 228, 0.3);
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    color: white;
}
.mail input::placeholder{
    color: rgba(255, 255, 255, 0.781);
}
.mail button{
    position: absolute;
    padding: 7px 15px;
    outline: none;
    right: 0;
    border: 2px solid white;
    background: rgba(0, 89, 255, 0.7);
    color: white;
    border-radius: 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

.error{
    font-size: 1.2rem;    
    color: white;
}

.mailContent{
    width: 800px;
    max-width: 100%;
    height: 70vh;
    background: rgb(52, 52, 53);
    margin: 20px auto;
    border-radius: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
.content a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 10px;
}
.content{
    margin-bottom: 20px;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}
#refresh{
    padding: 7px 15px;
    margin: 0px auto;
    color: white;
    background: rgb(119, 0, 255);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.mailMsg{
    width:100%;
    height:90vh; 
    /* background:rgb(22, 21, 21) ; */
}

@media screen and (max-width:900px) {
    #navbar{
        flex-direction: column;
    }
    #avatarForm {
        flex-direction: column-reverse;
    }
    #search{
        min-width: 300px;
        width: 100%;
        display: none;
        margin: 6px 0;
        flex-direction: column;
    }
    #search a{
        margin: 0 0;
        margin-bottom:  30px;
    }
    #search form{
        width: 100%;
    }
    #search form input{
        width: 85%;
    }
    #search form button{
        width:70px;
    }
    #logoWithBurgur{
        width: 100%;
    }
    #burgur{
        display: flex;
    }
}







body{
    background-color: rgb(22, 21, 21) !important;
}