{% extends 'base.html' %}
{% load static %}
{% block body %}


<h1 style="text-align:center; color: white;font-family: sans-serif;border-bottom: 2px solid white; width: 90%;max-width:700px;margin: 30px auto;padding:10px 0;margin-bottom:25px;font-size:1.8rem;font-weight:600;">Create Your Favourite Avatar</h1>
<!-- <form method="POST"  id="avatarForm" onsubmit="javascript: captureAvatar(this); return false;"> -->
<form method="POST"  id="avatarForm">
    <div>
        <span style="color: white; font-size: 1.1rem;">{{showMsg}}</span>
        <select name="avatar-style" id="avatar-style" class="selectpicker" >
            <option value="select">Select Avatar Style</option>
        </select>
        <select name="background" id="background" class="selectpicker" >
            <option value="select">Select Avatar background</option>
        </select>
        <select name="hairtype" id="hairtype" class="selectpicker" >
            <option value="select">Select Top Type</option>
        </select>
        <select name="eyebrowtype" id="eyebrowtype" class="selectpicker" >
            <option value="select">Select Eyebrow</option>
        </select>
        <select name="eyeType" id="eyeType" class="selectpicker" >
            <option value="select">Select Eye Type</option>
        </select>
        <select name="noseType" id="noseType" class="selectpicker" >
            <option value="select">Select Nose Type</option>
        </select>
        <select name="mouthColor" id="mouthColor" class="selectpicker" >
            <option value="select">Select Mouth Color</option>
        </select>
        <select name="facialhair" id="facialhair" class="selectpicker" >
            <option value="select">Select Facialhair color</option>
        </select>
        <select name="skincolor" id="skincolor" class="selectpicker" >
            <option value="select">Select Skin Color</option>
        </select>
        <select name="haircolor" id="haircolor" class="selectpicker" >
            <option value="select">Select Hair color</option>
        </select>
        <select name="accessoriesType" id="accessoriesType" class="selectpicker" >
            <option value="select">Select Accessories Type</option>
        </select>
        <select name="clothType" id="clothType" class="selectpicker" >
            <option value="select">Select Cloth Type</option>
        </select>
        <select name="clothColor" id="clothColor" class="selectpicker" >
            <option value="select">Select Cloth Color</option>
        </select>
    </div>
    <div class="avatarImage">
        <div class="btns">
            <a href="{% static "avatar.svg" %}" target="_blank" download> SVG File</a>
            <a href="/{{png}}" target="_blank" download> PNG File</a>
        </div>
        <img src="/{{png}}" alt="">
    </div>
</form>

<script>
    var nameAttr ={
        "avatar-style":{'TRANSPARENT':'transparent',"CIRCLE":'circle'},
        "background": {'DEFAULT' : '#65C9FF',"BLACK" : '#262E33',"WHITE" : '#FFFFFF'},
        "hairtype" : {
            'NONE' :'no_hair',
            'BIG_HAIR' : 'big_hair',
            "BOB" : 'bob',
            "BUN" : 'bun',
            "CAESAR_SIDE_PART" : 'caesar_side_part',
            "CAESAR" : 'caesar',
            "CURLY" : 'curly',
            "CURVY" : 'curvy',
            "DREADS" : 'dreads',
            "FRIDA" : 'frida',
            "FRIZZLE" : 'frizzle',
            "FRO_BAND" : 'fro_band',
            "FRO" : 'fro',
            "LONG_NOT_TOO_LONG" : 'long_not_too_long',
            "MIA_WALLACE": 'mia_wallace',
            "SHAGGY_MULLET" : 'shaggy_mullet',
            "SHAGGY" : 'shaggy',
            "SHAVED_SIDES" : 'shaved_sides',
            "SHORT_CURLY" : 'short_curly',
            "SHORT_DREADS_1" : 'short_dreads_1',
            "SHORT_DREADS_2" : 'short_dreads_2',
            "SHORT_FLAT" : 'short_flat',
            "SHORT_ROUND" : 'short_round',
            "SHORT_WAVED" : 'short_waved',
            "SIDES" : 'sides',
            "STRAIGHT_1" : 'straight_1',
            "STRAIGHT_2" : 'straight_2',
            "STRAIGHT_STRAND" : 'straight_strand',
            "ASTRONAUT" : 'astronout',
            "BRAIDS" : 'braids',
            "BRIDE" : 'bride',
            "BUZZCUT" : 'buzzcut',
            "CORNROWS" : 'cornrows',
            "CURLY_2" : 'curly_2',
            "DREADLOCKS" : 'dreadlocks',
            "EINSTEIN_HAIR" : 'einstein_hair',
            "ELVIS" : 'elvis',
            "EVIL_SPIKE" : 'evil_spike',
            "HALF_SHAVED" : 'half_shaved',
            "HAT" : 'hat',
            "LONG_HAIR_CURLY" : 'long_hair_curly',
            "LOOSE_HAIR" : 'loose_hair',
            "MOHAWK" : 'mohawk',
            "MOWGLI" : 'mowgli',
            "PIXIE" : 'pixie',
            "POMPADOUR" : 'pompadour',
            "QUIFF" : 'quiff',
            "TWIST_LONG_HAIR" : 'twist_long_hair',
            "TWIST_LONG_HAIR_2" : 'twist_long_hair_2',
            "WICK" : 'wick',
            "WILD" : 'wild',
        },
        "eyebrowtype" : {
            NONE : '',
            ANGRY_NATURAL : 'angry_natural',
            ANGRY : 'angry',
            DEFAULT_NATURAL : 'default_natural',
            DEFAULT : 'default',
            FLAT_NATURAL : 'flat_natural',
            FROWN_NATURAL : 'frown_natural',
            RAISED_EXCITED_NATURAL : 'raised_excited_natural',
            RAISED_EXCITED : 'raised_excited',
            SAD_CONCERNED_NATURAL : 'sad_concerned_natural',
            SAD_CONCERNED : 'sad_concerned',
            UNIBROW_NATURAL : 'unibrow_natural',
            UP_DOWN_NATURAL : 'up_down_natural',
            UP_DOWN : 'up_down',
        },
        "eyeType" : {
            CLOSED : 'closed',
            CRY : 'cry',
            DEFAULT : 'default',
            EYE_ROLL : 'eye_roll',
            HAPPY : 'happy',
            HEART : 'heart',
            SIDE : 'side',
            SQUINT : 'squint',
            SURPRISED : 'surprised',
            WINK_WACKY : 'wink_wacky',
            WINK : 'wink',
            X_DIZZY : 'x_dizzy',
        },
        "noseType" : {
            DEFAULT : 'default',
            SMALL : 'small',
            WIDE : 'wide',
        },
        "mouthColor" : {
            CONCERNED : 'concerned',
            DEFAULT : 'default',
            DISBELIEF : 'disbelief',
            EATING : 'eating',
            GRIMACE : 'grimace',
            SAD : 'sad',
            SCREAM_OPEN : 'scream_open',
            SERIOUS : 'serious',
            SMILE : 'smile',
            TONGUE : 'tongue',
            TWINKLE : 'twinkle',
            VOMIT : 'vomit',
            BIG_SMILE : 'big_smile',
        },
        "facialhair" : {
            NONE : '',
            BEARD_LIGHT : 'beard_light',
            BEARD_MAGESTIC : 'beard_magestic',
            BEARD_MEDIUM : 'beard_medium',
            MOUSTACHE_FANCY : 'moustache_fancy',
            MOUSTACHE_MAGNUM : 'moustache_magnum',
            EINSTEIN_MOUSTACHE : 'einstien_mustache',
            WICK_BEARD : 'wick_beard',
        },
        "skincolor" : {
            TANNED : '#FD9841',
            YELLOW : '#F8D25C',
            PALE : '#FFDBB4',
            LIGHT : '#EDB98A',
            BROWN : '#D08B5B',
            DARK_BROWN : '#AE5D29',
            BLACK : '#614335',
        },
        "haircolor" : {
            AUBURN : '#A55728',
            BLACK : '#2C1B18',
            BLONDE : '#B58143',
            BLONDE_GOLDEN : '#D6B370',
            BROWN : '#724133',
            BROWN_DARK : '#4A312C',
            PASTEL_PINK : '#F59797',
            PLATINUM : '#ECDCBF',
            RED : '#C93305',
            SILVER_GRAY : '#E8E1E1',
        },
        "accessoriesType" : {
            NONE : '',
            EYEPATCH : 'eyepatch',
            KURT : 'kurt',
            PRESCRIPTION_1 : 'prescription_01',
            PRESCRIPTION_2 : 'prescription_02',
            ROUND : 'round',
            SUNGLASSES : 'sunglasses',
            WAYFARERS : 'wayfarers',
            SUNGLASSES_2 : 'sunglasses_2',
            WAYFARERS_2 : 'wayfarers_2',
        },
        "clothType" : {
            NONE : '',
            BLAZER_SHIRT : 'blazer_shirt',
            BLAZER_SWEATER : 'blazer_sweater',
            COLLAR_SWEATER : 'collar_sweater',
            GRAPHIC_SHIRT : 'graphic_shirt',
            HOODIE : 'hoodie',
            OVERALL : 'overall',
            SHIRT_CREW_NECK : 'shirt_crew_neck',
            SHIRT_SCOOP_NECK : 'shirt_scoop_neck',
            SHIRT_V_NECK : 'shirt_v_neck',
            ASTRONAUT_SUIT : 'astronaut_suit',
            BOND_SUIT : 'bond_suit',
            CHEF : 'chef',
            GLADIATOR : 'gladiator',
            JEDI_ROBE : 'jedi_robe',
            SHIRT_WICK : 'shirt_wick',
        },
        "clothColor" : {
            BLACK : '#262E33',
            BLUE_01 : '#65C9FF',
            BLUE_02 : '#5199E4',
            BLUE_03 : '#25557C',
            GRAY_01 : '#E6E6E6',
            GRAY_02 : '#929598',
            HEATHER : '#3C4F5C',
            PASTEL_BLUE : '#B1E2FF',
            PASTEL_GREEN : '#A7FFC4',
            PASTEL_ORANGE : '#FFDEB5',
            PASTEL_YELLOW : '#FFFFB1',
            PINK : '#FF488E',
            RED : '#FF5C5C',
            WHITE : '#FFFFFF',
        },
    }
    var form = document.getElementById("avatarForm");
    var allSelectTags = form.querySelectorAll("select");
    allSelectTags.forEach(element => {
        for (let key in nameAttr[element.name]) {
            html = `<option value='${nameAttr[element.name][key]}'>${key}</option>`;
            element.innerHTML += html;
        }
        // element.selectedIndex = element.selectedIndex + 1

        element.addEventListener('change',(select)=>{
            captureData(select)
        })
    });
    function captureData (e){
        htmlformdata = {};
        allSelectTags.forEach(element => {
            if (element.value === "select"){
                val =   element[element.selectedIndex + 1].value
            }
            else{
                val = element.value
            }
            htmlformdata[element.name] = val
        });

        var img = form.querySelector("img");
        fetch("/avatar/",{method:"POST",body:JSON.stringify(htmlformdata)}).then((res) => res.json() ).then((data) =>{
            if (data.status === "OK"){
                img.src = "/"+data.png
            }
        })
    }
</script>
{% endblock body %}