{% extends 'base.html' %}
{% block body %}
<div class="contactForm">
    
    <h1 >Connect With Us</h1>
    <form action="/contact/" method="post">
        <div class="contactName">
            <input type="text" id="fname" name="fname" placeholder="First name" maxlength="23" required>
            <input type="text" id="lname" name="lname" placeholder="Last name" maxlength="23" required>
        </div>
        <div class="contactMail">
            <input type="email" id="conMail" placeholder="E-Mail Address" name="conMail" maxlength="47" required>
        </div>
        {% csrf_token %}
        <div class="contactNumber">
            <input type="text" id="phonenumber" name="phonenumber" placeholder="Contact Number" maxlength="13" required>
        </div>
        <div class="contactReason">
            <textarea name="con_reason" placeholder="Contact Reason" id="conReason" cols="30" rows="5" maxlength="190" required></textarea>
        </div>
        <button type="submit" class="submitBtn">Contact US &#9758;</button>
    </form>
</div>
{% endblock body %}
