{% extends 'base.html' %}
{% block body %}
<style>
    .formbox{
        max-width: 500px;
        width: 90%;
        min-height: 82vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }
    .formbox form{
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        padding: 15px ;
        border-radius: 20px;
    }
    .formbox form h1{
        color: white;
        padding: 5px 10px;
        width: 70%;
        margin: 20px auto;
        border-bottom: 2px solid white;
        text-align: center;
    }
    .formbox form div{
        width: 100%;
        margin: 20px auto;
    }
    .formbox form div input{
        padding: 7px 10px;
        border-radius: 10px;
        font-size: 1.1rem;
        width: 100%;
    }
    .formbox form button{
        padding: 0px 15px;
        border-radius: 10px;
        color: white;
        background: linear-gradient(to right,rgba(0, 255, 106, 0.568),rgba(0, 64, 255, 0.654) );
        font-size: 2rem;
        font-weight: 800;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    h4{
        color: white;
        text-align: center;
        font-size: 1rem;
    }
</style>
    <div class="formbox">
        <form action="/users/forget" method="post">
            <h4>{{showMsg}}</h4>
            <h1>Forget Password</h1>
            <div>
                <input type="email" name="fname" id="fname" placeholder="Enter E-mail" maxlength="75" required>
            </div>
            <button type="submit">&rarrhk;</button>
        </form>
    </div>
{% endblock body %}