{% extends 'base.html' %}   
{% block body %}
<div class="mail">
    
        <input type="email" id="mail-input" placeholder="Mail-ID" value="{{ email }}" readonly>
        <button onclick="copyClipBoard(this)">Copy</button>
</div>

<div class="mailContent">
    <div class="toolbar">
        <button id="refresh" onclick="refresh()">Refresh</button>
    </div>
    <div class="mainContent mailContent">

    </div>
</div>


    <script>
        var inp = document.getElementById('mail-input')
        var url = "/tempmail/getmailcontent"
        var jsondata = {'email':inp.value}
        const copyClipBoard = (e)=>{
            var clip_board = navigator.clipboard;
            var inpval = inp.value 
            if (clip_board === undefined){
               alert("Unable to copy.! Please try again.")
            }else{
                navigator.clipboard.writeText(inpval)
                    e.innerText = "Copied"
            }
            setTimeout(() => {
                e.innerText = "Copy"
                getMailContent(url,jsondata)
            }, 3000);
        }
        function getMailContent(url,jsondata){
            fetch(url,{method:"POST",body:JSON.stringify(jsondata)}).then((res) => res.json()).then((res)=>{
                if (res['Status'] === "OK"){
                    document.querySelector('.mainContent').innerHTML = ""    
                    maildata = res['Data']
                    if (maildata.length > 0){
                        maildata.forEach(element => {
                            html = `
                            <div class="content">
                                <a href="/tempmail/messages/${element.mail_id}">
                                    ${element.subject}
                                </a>
                            </div> `;
         
                            document.querySelector('.mainContent').innerHTML += html;
                        });
                    }
                }
            })   
        }
        // setTimeout(() => {
        //     getMailContent(url,jsondata) 
        // }, 000);

        function refresh(){
            getMailContent(url,jsondata)
        }

    </script>

{% endblock body %}