{% extends 'base.html' %}   
{% block body %}
<div class="mail">
    
        <input type="email" id="mail-input" placeholder="Mail-ID" value="{{ email }}" readonly>
        <button onclick="copyClipBoard(this)">Copy</button>
</div>

<div class="mailContent">
    <div class="toolbar">
        <button id="refresh" onclick="refresh()">Refresh</button>
    </div>
    <div class="mainContent mailContent">

    </div>
</div>


    <script>
        var inp = document.getElementById('mail-input')
        const copyClipBoard = (e)=>{
            navigator.clipboard.writeText(inp.value)
            e.innerText = "Copied"
            setTimeout(() => {
                e.innerText = "Copy"
            }, 3000);
        }
        function getMailContent(url,jsondata){
            fetch(url,{method:"POST",body:JSON.stringify(jsondata)}).then((res) => res.json()).then((res)=>{
                if (res['Status'] === "OK"){
                    document.querySelector('.mainContent').innerHTML = ""    
                    maildata = res['Data']
                    if (maildata.length > 0){
                        maildata.forEach(element => {
                            html = `
                            <div class="content">
                                <a href="/tempmail/messages/${element.mail_id}">
                                    ${element.subject}
                                </a>
                            </div> `;
         
                            document.querySelector('.mainContent').innerHTML += html;
                        });
                    }
                }
            })   
        }
        url = "http://127.0.0.1:8000/tempmail/getmailcontent"
        jsondata = {'email':inp.value}
        setTimeout(() => {
            getMailContent(url,jsondata)
        }, 000);

        function refresh(){
            getMailContent(url,jsondata)
        }


    </script>

{% endblock body %}