{% extends 'base.html' %}
{% block body %}
    <form action="/waoflix/update_movie/" method="POST" class="uploadingForm">
        <h1 style="text-align:center; color: white;font-family: sans-serif;border-bottom: 2px solid white; width: 276px;margin: 10px auto;"">Update Form</h1>
        <div>
            <input type=" text" id="sno" placeholder="S. No" name="sno" readonly>
        </div>
        <div>
            <input type="text" id="movietitle" placeholder="Movie Title" name="movietitle" required>
        </div>
            
        <div>
            <input type="text" id="posterurl" placeholder="Poster Link" name="poster" required>
        </div>
        {% csrf_token %}
        <div class="basic">
            <input type="text" id="movierating" placeholder="Rating" name="rating" required>
            <input type="text" id="moviequality" placeholder="Quality" name="quality" required>
        </div>
        <div class="basic">
            <input type="text" id="fileSize" placeholder="Movie Size" name="fileSize" required>
            <input type="text" id="language" placeholder="Movie Language" name="language" required>
        </div>
        <div>
            <input type="date" id="releasedate" name="releasedate" required>
        </div>
        <div>
            <input type="text" id="downloadUrl" placeholder="Download Link" name="downloadUrl" required>
        </div>
        <div>
            <textarea name="desc" id="moviedesc" placeholder="Story" cols="30" rows="5" required></textarea>
        </div>
        <button type="submit" id="updateBtn">Update</button>
    </form>
    <script>
        let button = document.getElementById("updateBtn")
        let sno = document.getElementById("sno");
        let movietitle = document.getElementById("movietitle");
        let posterurl = document.getElementById("posterurl");
        let movierating = document.getElementById("movierating");
        let moviequality = document.getElementById("moviequality");
        let fileSize= document.getElementById("fileSize");
        let releasedate= document.getElementById("releasedate");
        let downloadUrl= document.getElementById("downloadUrl");
        let moviedesc= document.getElementById("moviedesc");
        let language = document.getElementById("language");
        window.onload = ()=>{
            sno.value=`{{movie.movie_id}}`
            movietitle.value=`{{movie.movie_title}}`
            moviedesc.value=`{{movie.movieStory}}`
            moviequality.value=`{{movie.movieQuality}}`
            movierating.value=`{{movie.movieRating}}`
            fileSize.value=`{{movie.movieFileSize}}`
            language.value=`{{movie.movieLanguage}}`
            posterurl.value=`{{movie.poster_url}}`
            releasedate.value=`{{movie.movieReleaseDate}}`
            downloadUrl.value=`{{movie.movieDownloadURL}}`
        }
    </script>
{% endblock body %}
